extends layout

block content
    header#banner
        h1 Welcome to Awesome Multi-room Chat

    section#nameform
        div.backdrop
        div.popup
            div.pophead Please enter a nickname
            div.popbody
                input#nickname(type='text')
                input#setname(type='button', value='Set Name')

    section#chatroom
        div#messages
        input#message(type='text', placeholder='Enter your message here')
        input#send(type='button', value='Send')

    footer Powered by Node.js and Socket.IO
