<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<div class="row">
    <div class="col-md-12">

        <div class="jumbotron">
            <h2>Basic authentication with local passport.</h2>

            <p>This is simple application for login. It uses local passport strategy.</p>
        </div>

    </div>
</div>

<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>