doctype html
html
    block head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        header#banner
            h1 Welcome to Awesome Multi-room Chat
        block content
        footer Powered by Node.js and Socket.IO
        include scripts